body {
  background-color: #071117;
}

.f1 {
  color: #f0f6fc;
}

.f2 {
  color: #c9d1d9;
}

.f3 {
  color: #8b949e;
}

.a1 {
  color: #58a6ff;
}

.word-box {
  margin-bottom: 20px;
}

.word-img {
  width: 200px;
  height: 200px;
}

.word-txt {
  font-size: 30px;
  margin-top: 5px;
}

.word-txt > .kanji {
  color: #c9d1d9;
}

.word-txt > .hangul {
  color: #8b949e;
}

.swal2-popup {
  background-color: #0f0f0f !important;
}

.swal2-title {
  color: #f0f6fc !important; 
}