.word-box {
  margin-bottom: 20px;
}

.word-img {
  width: 200px;
  height: 200px;
}

.word-txt {
  font-size: 30px;
  margin-top: 5px;
}

.word-txt > .kanji {
  color: black;
}

.word-txt > .hangul {
  color: #a5a5a5;
}
